* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main#main {
    flex: 1 1 auto;
}