* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #000;
    color: #fff;

    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

main.main#main {
    flex: 1 1 auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
    transition: all .3s ease-in;
}

.header-nav {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: none;
    outline: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.letter {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s forwards;
}

.letter {
    color: #00FFA3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    border: none;
    outline: none;
    opacity: 0;
    visibility: hidden;
    background: none;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
}

.burger-line {
    display: block;
    position: absolute;
    width: 100%;
    height: 3.5px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    background: #fff;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2),
.burger-line:nth-child(3) {
    top: 0.5rem;
}

.burger-line:nth-child(4) {
    top: 1rem;
}

.burger.is-active .burger-line:nth-child(1),
.burger.is-active .burger-line:nth-child(4) {
    top: 1.25rem;
    width: 0%;
    left: 50%;
}

.burger.is-active .burger-line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.is-active .burger-line:nth-child(3) {
    transform: rotate(-45deg);
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-link {
    color: #848895;
    text-rendering: optimizeLegibility;
    transition: all 0.35s ease-in-out;
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

.menu-link:hover {
    color: white;
}

.menu-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.header-btn {
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 20px 0 20px 0;
    background-position: center center;
    border-color: white;
    border-style: solid;
    outline: 1px solid transparent;
    cursor: pointer;
    transition: all .3s ease-in;
}

.header-btn:hover {
    border-color: #00FFA3;
}

.hero-items {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    row-gap: 30px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.1;
}

.hero-desc {
    font-size: 18px;
    line-height: 1.4;
}

.hero-btn {
    background-color: #00FFA3;
    color: #fff;
    font-size: 20px;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid #00FFA3;
    outline: none;

    transition: all .3s ease-in;
}

.hero-btn:hover {
    background: #000;
}

.hero-right {
    width: 40%;
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: spin 100s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.services {
    padding: 30px 0;
}

.services-title {
    font-size: 32px;
}

.services-desc {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2;
}

.services-items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 26px;

    max-width: 100%;
}

.service-big {
    grid-column: span 2 / span 2;
}

.service-top {
    grid-row-start: 2;
}

.service-middle {
    grid-row-start: 3;
}

.service-bottom {
    grid-row-start: 4;
}

.service-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background: url('../images/services/services-bg.jpg') center center/cover no-repeat;

    height: 280px;
    width: 100%;

    border-radius: 18px;

    padding: 30px 20px;
    cursor: pointer;
    position: relative;
}

.service-item::after {
    content: '';
    background: rgba(0, 0, 0, .65);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
    width: 520px;
    position: relative;
    z-index: 3;
}

.service-name {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;
}

.service-desc {
    font-size: 17px;
    line-height: 1.4;
}

.portfolio {
    padding: 60px 0;
}

.portfolio-title {
    font-size: 32px;
}

.portfolio-desc {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2;
}

.portfolio-items {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    flex-wrap: wrap;
}

.portfolio-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 260px;

    border: 1px solid #fff;


    cursor: pointer;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.portfolio-item:hover::after {
    background-color: rgba(0, 0, 0, 0.8);
}

.website-name {
    opacity: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.4;
    transition: all .3s ease-in;

    position: relative;
    z-index: 10;
}

.portfolio-item:hover .website-name {
    opacity: 1;
}

.portfolio-item:nth-child(1) {
    background-image: url('../images/portfolio/digix-bg.png');
}

.portfolio-item:nth-child(2) {
    background-image: url('../images/portfolio/orkenmed-bg.png');
}

.portfolio-item:nth-child(3) {
    background-image: url('../images/portfolio/sapar-kovka-bg.png');
}

.portfolio-item:nth-child(4) {
    background-image: url('../images/portfolio/maf-park-bg.png');
}

.portfolio-item:nth-child(5) {
    background-image: url('../images/portfolio/qazgroupservise-bg.png');
}

.portfolio-item:nth-child(6) {
    background-image: url('../images/portfolio/korkem-alem-bg.png');
}

.portfolio-item:nth-child(7) {
    background-image: url('../images/portfolio/ak-bg.png');
}

.portfolio-item:nth-child(8) {
    background-image: url('../images/portfolio/interro-bg.png');
}

.portfolio-item:nth-child(9) {
    background-image: url('../images/portfolio/kub-bg.png');
}

.portfolio-item:nth-child(10) {
    background-image: url('../images/portfolio/qazpro-bg.png');
}

.portfolio-item:nth-child(11) {
    background-image: url('../images/portfolio/venlo-bg.png');
}

.reviews {
    padding: 30px 0;

    background: linear-gradient(0% #19161C, 100% 000000);
}


.reviews-title {
    font-size: 32px;
}

.reviews-desc {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2;
}

.reviews-items {
    margin-top: 40px;
}

.contacts {
    padding: 30px 0;
}

.contacts-title {
    font-size: 32px;
}

.contact-items {
    margin-top: 20px;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

.contact-left {
    width: 100%;
    background: linear-gradient(-45deg, #06B67A, #04fea7, #ff0000);
    background-size: 400% 400%;
    border-radius: 0 3px 3px 0;
    -webkit-animation: gradient-animation 10s ease infinite;
    -moz-animation: gradient-animation 10s ease infinite;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contact-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

.contact-left-title {
    font-size: 28px;
}

.contact-left-btn {

    margin-top: 40px;
    border-radius: 3px;
    padding: 8px 60px;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
    color: #fff;
    font-size: 20px;
}

.contact-right {
    width: 100%;
    background: var(--black);
}

.contact-right-content {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.contact-title {
    font-size: 32px;
}

.contact-desc,
.contact-item {
    font-size: 18px;
}

.gradient-hr {
    height: 3px;
    background: linear-gradient(-45deg, #06B67A, #04fea7, #ff0000);
}

.footer {
    padding: 30px 0;
}

.copyright {
    font-size: 18px;
}

@media only screen and (max-width: 1200px) {
    .nav-container {
        justify-content: space-between;
    }

    .burger {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .menu {
        width: 100%;
        max-height: 0rem;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.35s ease;
    }

    .menu.is-active {
        opacity: 1;
        visibility: visible;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        padding: 2rem 0;
    }

    .header-btn {
        margin-top: 20px;
        margin-left: 0;
    }

    .services-items {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 20px;
    }

    .service-start,
    .service-big,
    .service-middle,
    .service-bottom {
        grid-column: auto;
        grid-row-start: auto;
    }
}


@media screen and (max-width: 768px) {
    .hero-items {
        flex-direction: column;
    }

    .hero-left,
    .hero-right {
        max-width: 100%;
        width: 100%;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-desc {
        font-size: 16px;
    }

    .portfolio-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .contact-items {
        flex-direction: column;
    }

    .contact-left-content {
        padding: 100px 0;
    }

    .contact-right-content {
        padding: 50px 30px;
    }


    .service-name {
        font-size: 22px;
    }

    .service-desc {
        font-size: 16px;
    }

    .service-item {
        height: auto;
    }
}


@media screen and (max-width: 576px) {
    .portfolio-items {
        grid-template-columns: 1fr;
    }
}

.none {
    display: none;
}